@font-face {
    font-family: 'rag';
    src: url(rag/woff/Rag-NarrowRegular.woff2) format("woff2");
}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    position: relative;
    z-index: 100;
    font-family: 'rag';
    margin-block: 0.1em;
    font-weight: normal;
}

#begin {
    position: relative;
    text-align: center;
}

#dig {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: 20vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#begin:hover {
    cursor: pointer;
}

#begin:hover+#dig {
    opacity: 1;
}