@font-face {
    font-family: 'rag';
    src: url(rag/woff/Rag-NarrowRegular.woff2) format("woff2");
}

body,
html {
    font-family: 'rag';
    height: 100%;
    margin: 0;
    position: relative;
}

h2 {
    margin-block: 0.1em;
    font-weight: normal;
}

.centered-hidden {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#begin,
#dig {
    position: absolute;
    transform: translate(-50%, -50%);
}

#begin {
    top: 50%;
    left: 50%;
    text-align: center;
    visibility: visible;
    /* Override to make visible */
}

#dig {
    top: 60%;
    left: 35%;
    max-width: 20vw;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
    visibility: visible;
    /* Override to make visible */
}

#begin:hover {
    cursor: pointer;
}

#begin:hover+#dig {
    opacity: 1;
}

#story {
    position: absolute;
    max-width: 25vw;
    left: 12vw;
    top: 20vh;
    visibility: hidden;
}

#stack,
#album {
    position: absolute;
    right: 0;
    width: 45vw;
    height: 50vh;
    visibility: hidden;
    pointer-events: none;
}

#stack {
    bottom: 5vh;
}

#album {
    bottom: 30vh;
}

#caption,
#caption2 {
    position: absolute;
    width: 80%;
    right: 10%;
    bottom: 0;
    margin: 0;
    text-align: right;
}

.tam,
.college {
    position: absolute;
    max-width: 35vw;
    max-height: 35vh;
    pointer-events: all;
    cursor: crosshair;
}

#now {
    min-height: 50vh;
    position: absolute;
    max-width: 25vw;
    left: 12vw;
    bottom: 20vh;
    visibility: hidden;
}

#vimeo {
    top: 50%;
}

#background {
    top: 80%;
}